<form class="card mx-auto" method="POST" action="{% if register %}/register{% else %}/auth{% endif %}"
    style="max-width: 300px">
    <div class="card-body">
        <h5>{{title}}</h5>
        <div class="mb-3">
            <input type="email" placeholder="email" required name="email" class="form-control" />
        </div>
        <div class="mb-3">
            <input type="password" placeholder="password" required name="password" class="form-control" />
        </div>
        {% if not register %}
        <div class="mb-3" id="auth-response">{{error}}</div>
        {% endif %}
        <button type="submit" class="btn btn-outline-info">Submit</button>
    </div>
    {% if not register %}
    <div class="card-footer">
        <a href="/register">Register</a>
    </div>
    {% else %}
    <div class="card-footer">
        <a href="/auth">Login</a>
    </div>
    {% endif %}
</form>
